<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"><head>
    <title>User page</title>
</head>
<body>
<h1><span th:utext="${user.username}"></span> Current user info</h1>
<table border="1" cellpadding="5"
       style="border-collapse: collapse; border: 1px solid black;">
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>second name</th>
        <th>age</th>
        <th>car</th>
        <th>Password</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getSecondName()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getCar}"></td>
        <td>********</td>
    </tr>
    </tbody>
</table>
<br>
<form th:method="GET" th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>

</body>
</html>